{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" lang="css" href="{% static 'css/form.css' %}"/>
{% endblock style %}
{% block body %}
    <main>
        <div class="content">
            <h1>{{name}}</h1>
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div style="margin-top: 1em;width:100%;display:flex;justify-content:center;">
                    <button type="submit">Convert</button>
                </div>
            </form>
        </div>
    </main>
{% endblock body %}